@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Robotoitalic.woff2') format('woff2'), url('../fonts/Robotoitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Robotolight.woff2') format('woff2'), url('../fonts/Robotolight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Robotomedium.woff2') format('woff2'), url('../fonts/Robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansSC';
  src: url('../fonts/NotoSansSC-700.woff2') format('woff2'), url('../fonts/NotoSansSC-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.title {
  font-family: "NotoSansSC", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #42515A;
  margin: 0;
}
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.overlay {
  background-color: #ffffff;
  opacity: 0.5;
  position: fixed;
  z-index: 190;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}
.overlay--show {
  display: block;
}
.container {
  width: 1260px;
  margin: 0 auto;
}
@media (max-width: 1260px) {
  .container {
    width: 100%;
    min-width: 290px;
  }
}
.filter {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.filter[data-mode="open"] {
  background-color: #FFFFFF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.filter[data-mode="open"] .filter__wrap {
  display: block;
}
.filter__btnOpen {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #42515A;
  margin: 0;
  letter-spacing: 0;
  padding: 16px 10px 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  z-index: 100%;
}
.filter__wrap {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
}
.filter__choice {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 28px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter__itemChoice {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.67;
  text-align: center;
  color: #FFFFFF;
  padding: 2px 10px;
  padding-right: 22px;
  border-radius: 20px;
  background-color: #C41230;
  margin-right: 5px;
  margin-bottom: 4px;
  cursor: pointer;
  background-image: url("../img/close-filter.svg");
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 16px;
}
.filter__list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #E1E4E8;
}
.filter__block {
  border-bottom: 1px solid #E1E4E8;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #42515A;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 11px;
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.filter__block span {
  display: block;
  width: 122px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 122px;
          flex: 0 0 122px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10px;
}
.filter__sublist {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.filter__item {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.67;
  text-align: center;
  color: #42515A;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: rgba(225, 228, 232, 0.5);
  margin-right: 5px;
  margin-bottom: 4px;
  cursor: pointer;
}
.filter__item[data-check="true"] {
  color: #FFFFFF;
  background-color: #C41230;
}
.filter__btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 139px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter__btnApply {
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #0072BC;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.filter__btnCancel {
  border: none;
  background-color: transparent;
  padding: 10px 16px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #42515A;
}
.filter__btnReset {
  border: none;
  padding: 10px 16px;
  padding-right: 34px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 20px;
  background-color: #E1E4E8;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #42515A;
  background-image: url("../img/reset-filter.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}
body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  background-color: #FFFFFF;
  min-width: 290px;
}
.header {
  min-height: 48px;
  background-color: #E1E4E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.header p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #42515A;
  margin: 0;
}
.header__logo {
  width: 48px;
  padding-top: 16px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.header__logo img {
  width: 24px;
}
.header__logo--nomobile {
  display: none;
}
.header__searchWrap {
  display: none;
  position: relative;
}
.header__search {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #E1E4E8;
}
.header__btnSearch {
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  right: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}
.header__filter {
  width: 26%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 26%;
          flex: 1 0 26%;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__collection {
  width: 43%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 43%;
          flex: 1 0 43%;
  padding: 16px 10px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.header__collection--count {
  display: none;
}
.header__more {
  width: 48px;
  margin: 0;
  background-image: url("../img/sandwich.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid #FFFFFF;
}
.header__account {
  display: none;
}
.main__header {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 26px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__btnLayout {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/th.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: auto;
  display: none;
}
.main__listFiles {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #e5e7eb;
  min-width: 290px;
}
.main__file {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid #e5e7eb;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__filePreview {
  width: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  height: 45px;
  margin-right: 12px;
}
.main__filePreview img {
  width: 64px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__fileDate {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}
.main__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow: hidden;
}
.main__fileName {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__fileName--name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 408px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 2);
    /*размер M - Две плитки*/
    display: block;
    padding: 16px 12px 12px;
  }
  .main__allFiles[data-mode="sizeM"] .main__filePreview {
    width: 160px;
    margin: 0 auto;
    height: 120px;
    margin-bottom: 16px;
    padding-right: 0;
  }
  .main__allFiles[data-mode="sizeM"] .main__filePreview img {
    width: 160px;
    height: 120px;
  }
  .main__allFiles[data-mode="sizeM"] .main__fileDate {
    font-size: 12px;
  }
  .main__allFiles[data-mode="sizeM"] .main__fileName {
    font-size: 12px;
  }
  .main__btnLayout {
    display: block;
  }
}
@media (min-width: 612px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 3);
    /*размер M - Три плитки*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 2);
    /*размер L - Три плитки*/
    display: block;
    padding: 16px;
  }
  .main__allFiles[data-mode="sizeL"] .main__filePreview {
    width: 240px;
    margin: 0 auto;
    height: 180px;
    margin-bottom: 16px;
    padding-right: 0;
  }
  .main__allFiles[data-mode="sizeL"] .main__filePreview img {
    width: 240px;
    height: 180px;
  }
  .main__allFiles[data-mode="sizeL"] .main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .main__allFiles[data-mode="sizeL"] .main__fileDate {
    position: relative;
    font-size: 12px;
    padding-right: 5px;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .main__allFiles[data-mode="sizeL"] .main__fileDate::after {
    position: absolute;
    content: "-";
    top: 0;
    right: 1px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.33;
    color: #42515A;
  }
  .main__allFiles[data-mode="sizeL"] .main__fileName {
    font-size: 12px;
  }
  .main__allFiles[data-mode="sizeL"] .main__btnLayout {
    display: block;
  }
  .header__logo--mobile {
    display: none;
  }
  .header__logo {
    width: 194px;
    padding-left: 16px;
    padding-right: 20px;
  }
  .header__logo--nomobile {
    display: block;
  }
  .header__logo--nomobile img {
    width: 157px;
  }
  .header__filter {
    width: 90px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
            flex: 0 0 90px;
  }
  .header__searchWrap {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .header__search {
    padding: 16px 21px 14px;
  }
  .header__collection {
    width: 166px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 166px;
            flex: 0 0 166px;
    border-left: 1px solid #FFFFFF;
  }
  .header__more {
    display: none;
  }
  .header__account {
    display: block;
    border-left: 1px solid #FFFFFF;
    padding: 16px 15px 14px;
  }
}
@media (min-width: 816px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 4);
    /*размер M - Четыре плитки*/
  }
}
@media (min-width: 920px) {
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 3);
    /*размер L - 3 плитки*/
  }
}
@media (min-width: 1020px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 5);
    /*размер M - 5 плиток*/
  }
}
@media (min-width: 1224px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 6);
    /*размер M - 6 плиток*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 4);
    /*размер L - 4 плитки*/
  }
}
@media (min-width: 1428px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 7);
    /*размер M - 7 плиток*/
  }
}
@media (min-width: 1632px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 8);
    /*размер M - 8 плиток*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 5);
    /*размер L - 5 плиток*/
  }
}
@media (min-width: 1836px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 9);
    /*размер M - 9 плиток*/
  }
}
@media (min-width: 2040px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 10);
    /*размер M - 10 плиток*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 6);
    /*размер L - 6 плитки*/
  }
}
@media (min-width: 2244px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 11);
    /*размер M - 11 плиток*/
  }
}
@media (min-width: 2380px) {
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 7);
    /*размер L - 7 плиток*/
  }
}
@media (min-width: 2448px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 12);
    /*размер M - 12 плиток*/
  }
}
@media (min-width: 2652px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: 178px;
    /*размер M - 13 и больше плиток*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: 340px;
    /*размер L - 13 и больше плиток*/
  }
}
