@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Robotoitalic.woff2') format('woff2'), url('../fonts/Robotoitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Robotolight.woff2') format('woff2'), url('../fonts/Robotolight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Robotomedium.woff2') format('woff2'), url('../fonts/Robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansSC';
  src: url('../fonts/NotoSansSC-700.woff2') format('woff2'), url('../fonts/NotoSansSC-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
*:focus {
  outline-color: #0072BC;
}
.title {
  font-family: "NotoSansSC", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #42515A;
  margin: 0;
}
@media (min-width: 720px) {
  .title {
    font-size: 18px;
  }
}
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.overlay {
  background-color: #ffffff;
  opacity: 0.5;
  position: fixed;
  z-index: 190;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}
.overlay--show {
  display: block;
}
.container {
  width: 1260px;
  margin: 0 auto;
}
@media (max-width: 1260px) {
  .container {
    width: 100%;
    min-width: 290px;
  }
}
.filter {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.filter__btnOpen {
  padding: 7px 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  color: inherit;
}
.filter__wrapList {
  display: none;
  background-color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.filter__total {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 12px;
  padding-bottom: 8px;
  display: block;
  min-height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.filter__title {
  margin-bottom: 10px;
}
.filter__filterChoice {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.filter__itemChoice {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.67;
  text-align: center;
  color: #FFFFFF;
  padding: 2px 10px;
  padding-right: 22px;
  border-radius: 20px;
  background-color: #C41230;
  margin-right: 5px;
  margin-bottom: 4px;
  cursor: pointer;
  background-image: url("../img/close-filter.svg");
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}
.filter__list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #E1E4E8;
  padding-bottom: 24px;
}
.filter__block {
  border-bottom: 1px solid #E1E4E8;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #42515A;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 11px;
  padding-bottom: 8px;
  display: block;
}
.filter__block span {
  display: block;
  padding-right: 10px;
  margin-bottom: 10px;
  word-break: break-word;
}
.filter__sublist {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.filter__item {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.67;
  text-align: center;
  color: #42515A;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: #eff1f3;
  background-color: #e1e4e880;
  margin-right: 5px;
  margin-bottom: 4px;
  cursor: pointer;
}
.filter__item:hover {
  background-color: #E1E4E8;
}
.filter__item:active {
  background-color: #C41230;
  color: #FFFFFF;
}
.filter__item[data-check="true"] {
  color: #FFFFFF;
  background-color: #C41230;
}
.filter__btnWrap {
  display: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFFFFF;
  margin-top: auto;
  -webkit-box-shadow: 0px -24px 24px 6px #ffffff;
          box-shadow: 0px -24px 24px 6px #ffffff;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter__btn {
  border: none;
  background-color: transparent;
  padding: 10px 16px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  color: #42515A;
  border-radius: 20px;
  margin-bottom: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 45%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
}
.filter__btn--apply {
  padding-right: 34px;
  background-color: #0072BC;
  color: #FFFFFF;
  background-image: url("../img/check-filter.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}
.filter__btn--apply:hover,
.filter__btn--apply:active {
  background-color: #338ec9;
  background-color: #0072bccc;
}
.filter__btn--cancel:hover,
.filter__btn--cancel:active {
  background-color: #E1E4E8;
}
.filter__btn--reset {
  padding-right: 34px;
  background-color: #eff1f3;
  background-color: #e1e4e880;
  background-image: url("../img/reset-filter.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  min-width: 220px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.filter__btn--reset:hover,
.filter__btn--reset:active {
  background-color: #E1E4E8;
}
@media (min-width: 480px) {
  .filter[data-mode="open"] .filter__wrap {
    height: calc(100vh - 109px);
  }
  .filter__btn {
    width: auto;
    margin: 0;
    min-width: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .filter__btn--apply {
    margin-right: 10px;
  }
  .filter__btn--reset {
    margin-left: auto;
    width: auto;
  }
}
@media (min-width: 720px) {
  .filter__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filter__title {
    margin-bottom: 0;
    width: 122px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 122px;
            flex: 0 0 122px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .filter__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .filter__block span {
    margin-bottom: 0;
    width: 122px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 122px;
            flex: 0 0 122px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .filter__btnWrap {
    padding-left: 139px;
  }
  .filter__btnOpen {
    padding: 7px 10px;
  }
}
.header {
  width: 100%;
}
.header[data-filter="open"] .header__filter {
  position: fixed;
  z-index: 50;
  width: 100%;
}
.header[data-filter="open"] .header__filter .filter__wrapList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header[data-filter="open"] .header__filter .filter__btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header[data-filter="open"] .header__filter .filter__wrap {
  overflow-y: auto;
  height: calc(100vh - 154px);
}
.header[data-user="open"] .header__tab--search {
  display: block;
}
.header[data-user="open"] .header__tab--filter,
.header[data-user="open"] .header__tab--collection {
  display: none;
}
.header[data-user="open"] .header__user {
  background-color: #42515A;
}
.header[data-user="open"] .user__wrap {
  display: block;
}
.header__top {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 48px;
  background-color: #E1E4E8;
}
.header__topWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__tab {
  font-family: "NotoSansSC";
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #42515A;
  margin: 0;
  letter-spacing: 0;
  padding: 7px 10px 8px;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  margin-left: -1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__tab:last-child {
  border-right: none;
}
.header__tab--logo {
  width: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 7px 6px;
}
.header__tab--filter {
  width: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__tab--search {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #42515A;
}
.header__tab--collection {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.header__tab--user {
  width: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__tab[data-mode="open"] {
  background-color: #FFFFFF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
  z-index: 15;
  -webkit-box-shadow: 0 -10px 0 0 #E1E4E8;
          box-shadow: 0 -10px 0 0 #E1E4E8;
}
.header__logo {
  padding: 7px 5px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: block;
}
.header__filter {
  background-color: #FFFFFF;
  margin-top: 48px;
  position: relative;
}
@media (min-width: 480px) {
  .header[data-filter="open"] .header__filter .filter__wrap {
    height: calc(100vh - 109px);
  }
}
@media (min-width: 720px) {
  .header[data-user="open"] .header__tab--filter,
  .header[data-user="open"] .header__tab--collection {
    display: block;
  }
  .header[data-user="open"] .header__user {
    background-color: #E1E4E8;
  }
  .header[data-user="open"] .user__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    padding-left: 7px;
    padding-right: 8px;
  }
  .header__logo img {
    width: 157px;
  }
  .header__tab--logo {
    padding: 7px 10px;
  }
  .header__tab--search {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    background-color: #E1E4E8;
  }
  .header__tab--collection {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.tile__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #e5e7eb;
  min-width: 290px;
}
.tile__item {
  width: 100%;
  border: 1px solid #e5e7eb;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 2.5%;
  padding-right: 10%;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 408px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 2);
    /*размер M - 2 плитки*/
    display: block;
    padding: 12px;
  }
  .tile[data-mode="sizeL"] .tile__item {
    display: block;
    padding: 16px;
  }
}
@media (min-width: 612px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 3);
    /*размер M - 3 плитки*/
  }
  .tile[data-mode="sizeL"] .tile__item {
    width: calc(100% / 2);
    /*размер L - 2 плитки*/
  }
}
@media (min-width: 816px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 4);
    /*размер M - 4 плитки*/
  }
}
@media (min-width: 920px) {
  .tile[data-mode="sizeL"] .tile__item {
    width: calc(100% / 3);
    /*размер L - 3 плитки*/
  }
}
@media (min-width: 1020px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 5);
    /*размер M - 5 плиток*/
  }
}
@media (min-width: 1224px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 6);
    /*размер M - 6 плиток*/
  }
  .tile[data-mode="sizeL"] .tile__item {
    width: calc(100% / 4);
    /*размер L - 4 плитки*/
  }
}
@media (min-width: 1428px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 7);
    /*размер M - 7 плиток*/
  }
}
@media (min-width: 1632px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 8);
    /*размер M - 8 плиток*/
  }
  .tile[data-mode="sizeL"] .tile__item {
    width: calc(100% / 5);
    /*размер L - 5 плиток*/
  }
}
@media (min-width: 1836px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 9);
    /*размер M - 9 плиток*/
  }
}
@media (min-width: 2040px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 10);
    /*размер M - 10 плиток*/
  }
  .tile[data-mode="sizeL"] .tile__item {
    width: calc(100% / 6);
    /*размер L - 6 плитки*/
  }
}
@media (min-width: 2244px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 11);
    /*размер M - 11 плиток*/
  }
}
@media (min-width: 2380px) {
  .tile[data-mode="sizeL"] .tile__item {
    width: calc(100% / 7);
    /*размер L - 7 плиток*/
  }
}
@media (min-width: 2448px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: calc(100% / 12);
    /*размер M - 12 плиток*/
  }
}
@media (min-width: 2652px) {
  .tile[data-mode="sizeM"] .tile__item {
    width: 178px;
    /*размер M - 13 и больше плиток*/
  }
  .tile[data-mode="sizeL"] .tile__item {
    width: 340px;
    /*размер L - 8 и больше плиток*/
  }
}
.search {
  position: relative;
}
.search__input {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #42515A;
  height: 100%;
  padding: 9px 6px;
}
.search__input:focus {
  background-color: #FFFFFF;
  color: #42515A;
}
.search__input::-webkit-input-placeholder {
  color: #A0A8AC;
  color: #ffffff80;
}
.search__input::-moz-placeholder {
  color: #A0A8AC;
  color: #ffffff80;
}
.search__input:-moz-placeholder {
  color: #A0A8AC;
  color: #ffffff80;
}
.search__input:-ms-input-placeholder {
  color: #A0A8AC;
  color: #ffffff80;
}
.search__button {
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  right: 0;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}
@media (min-width: 720px) {
  .search__input {
    padding: 8px 10px 7px;
    background-color: #E1E4E8;
  }
  .search__input:focus {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .search__input::-webkit-input-placeholder {
    color: #98A1A6;
    color: #42515a80;
  }
  .search__input::-moz-placeholder {
    color: #98A1A6;
    color: #42515a80;
  }
  .search__input:-moz-placeholder {
    color: #98A1A6;
    color: #42515a80;
  }
  .search__input:-ms-input-placeholder {
    color: #98A1A6;
    color: #42515a80;
  }
}
.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12px;
  padding-left: 11px;
  position: relative;
  z-index: 10;
}
.user[data-list="show"] {
  border-left: 1px solid #69757D;
  border-left-color: #e1e4e840;
  background-color: #42515A;
}
.user[data-list="show"] .user__button--dropDown::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.user[data-list="show"] .user__dropDownList {
  display: block;
  width: calc(100vw - 48px);
  height: 100vh;
}
.user[data-list="show"] .user__button--burger {
  background-image: url("../img/user_close.svg");
}
.user[data-list="show"] .user__alert {
  display: none;
}
.user__name {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  text-align: center;
  margin: 0;
  display: block;
}
.user__alert {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #C41230;
}
.user__button {
  border: none;
  background-color: transparent;
  padding: 3px;
  color: #42515A;
  cursor: pointer;
}
.user__button--dropDown {
  display: none;
  position: relative;
  padding-right: 15px;
}
.user__button--dropDown::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  right: 3px;
  background-image: url("../img/drop_down_arrow_black.svg");
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
}
.user__button--burger {
  width: 24px;
  height: 24px;
  background-image: url("../img/sandwich.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.user__wrap {
  display: none;
  width: 100%;
  padding-left: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.user__dropDownList {
  padding: 0 24px;
  margin: 0;
  list-style: none;
  background-color: #42515A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 200px;
  margin-top: 0;
  height: 100vh;
}
.user__dropDownItem {
  border: none;
  background-color: #42515A;
  padding: 12px 0;
  padding-right: 32px;
  display: block;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-size: 16px;
  background-position: center right 4px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #69757D;
  border-bottom-color: #e1e4e840;
}
.user__dropDownItem:hover {
  background-color: #0072BC;
}
.user__dropDownItem--notice {
  padding-left: 24px;
  background-position: center right 30px;
  background-color: #C41230;
  background-image: url("../img/user_notice.svg");
}
.user__dropDownItem--profile {
  background-image: url("../img/user_profile.svg");
}
.user__dropDownItem--help {
  background-image: url("../img/user_help.svg");
}
.user__dropDownItem--signout {
  background-image: url("../img/user_signout.svg");
}
.user__dropDownItemWrap--notice {
  padding-bottom: 4px;
  margin-left: -24px;
  margin-right: -24px;
}
@media (min-width: 720px) {
  .user[data-list="show"] {
    background-color: #E1E4E8;
    border-left-color: #FFFFFF;
  }
  .user[data-list="show"] .user__button--dropDown::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .user__wrap {
    margin-right: 8px;
    padding-left: 0;
  }
  .user__dropDownList {
    padding: 4px 0;
    border-radius: 8px;
    border-top-right-radius: 0;
    min-width: 140px;
    margin-top: 8px;
    height: auto;
    margin-left: auto;
    margin-right: 8px;
  }
  .user__dropDownItemWrap--notice {
    padding-bottom: 4px;
    border-bottom: 2px solid #67737B;
    border-bottom-color: #ffffff33;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .user__dropDownItem {
    padding: 4px 8px;
    padding-right: 32px;
    background-position: center right 8px;
    border-bottom: none;
  }
  .user__dropDownItem--notice {
    background-position: center right 8px;
  }
  .user__button--dropDown {
    display: block;
  }
  .user__button--burger {
    display: none;
  }
  .user__alert {
    left: 8px;
  }
}
.collection {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  height: 100vh;
}
.collection__link {
  color: #42515A;
  text-decoration: none;
  padding: 7px 6px;
  display: block;
  text-align: center;
}
.collection__count {
  display: none;
  opacity: 0.5;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: #42515A;
  padding-left: 4px;
}
.collection__btnOpen {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #42515A;
  margin: 0;
  letter-spacing: 0;
  cursor: pointer;
  text-align: center;
}
.collection__total {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 12px;
  padding-bottom: 8px;
  display: block;
  min-height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.collection__item {
  display: block;
}
.collection__name {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #0072BC;
  margin: 0;
}
.collection__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow: hidden;
}
.collection__info p {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #909194;
  margin: 0;
}
@media (min-width: 408px) {
  .collection__item {
    min-height: 122px;
  }
  .collection__name {
    min-height: 65px;
  }
  .collection__count {
    display: inline;
  }
}
@media (min-width: 720px) {
  .collection__link {
    padding: 7px 10px;
  }
}
.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.control__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 10px;
  position: relative;
  z-index: 10;
}
.control__wrap--sort .control__dropDownList {
  width: 155px;
}
.control__wrap--layout {
  display: none;
}
.control__wrap--layout[data-mode="sizeM"] .control__name {
  background-image: url("../img/layuot_sizeM_blue.svg");
}
.control__wrap--layout[data-mode="sizeL"] .control__name {
  background-image: url("../img/layuot_sizeL_blue.svg");
}
.control__wrap--layout:hover[data-mode="sizeM"] .control__name {
  background-image: url("../img/layuot_sizeM_black.svg");
}
.control__wrap--layout:hover[data-mode="sizeL"] .control__name {
  background-image: url("../img/layuot_sizeL_black.svg");
}
.control__wrap--layout .control__name {
  font-size: 0;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.control__wrap--layout .control__dropDownList {
  width: 166px;
}
.control__wrap[data-list="show"] .control__button--dropDown::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.control__wrap[data-list="show"] .control__dropDownList {
  display: block;
}
.control__name {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  text-align: right;
  margin: 0;
  display: block;
}
.control__button {
  border: none;
  background-color: transparent;
  padding: 3px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.29;
  text-align: right;
  color: #0072BC;
  cursor: pointer;
}
.control__button:hover {
  color: #42515A;
}
.control__button--dropDown {
  position: relative;
  padding-right: 15px;
}
.control__button--dropDown::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  right: 3px;
  background-image: url("../img/drop_down_arrow_blue.svg");
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
}
.control__button--dropDown:hover::after {
  background-image: url("../img/drop_down_arrow_black.svg");
}
.control__dropDownList {
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #42515A;
  border-radius: 8px;
  border-top-right-radius: 0;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.control__dropDownList input[type="radio"] {
  display: none;
}
.control__dropDownItem {
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
}
.control__dropDownItem:hover {
  background-color: #0072BC;
}
.control__dropDownList input[type="radio"]:checked + .control__dropDownItem::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  left: 4px;
  background-image: url("../img/drop_down_check.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.main__btnSwitchLayout {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/th.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: auto;
  display: none;
  position: relative;
}
.main__btnSwitchLayout::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  right: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  background-image: url("../img/drop_down_arrow.svg");
}
@media (min-width: 408px) {
  .control__wrap--layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.action {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
}
.action[data-status="show"] {
  display: block;
}
.action__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #42515A;
}
.action__buttonWrap[data-disabled="true"] .action__button {
  background-color: #E1E4E8;
  cursor: default;
  pointer-events: none;
}
.action__button {
  border: none;
  padding: 2px 10px;
  background-color: #0072BC;
  border-radius: 20px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #FFFFFF;
  padding-right: 24px;
  background-repeat: no-repeat;
  background-position: center right 8px;
  background-size: 12px;
  cursor: pointer;
  margin-bottom: 4px;
}
.action__button--open {
  background-image: url("../img/action_open.svg");
}
.action__button--inCollection {
  background-image: url("../img/action_inCollection.svg");
}
.action__button--download {
  background-image: url("../img/action_download.svg");
}
.action__button--share {
  background-image: url("../img/action_share.svg");
}
@media (min-width: 720px) {
  .action {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    width: auto;
  }
  .action[data-status="show"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .action__title {
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 122px;
            flex: 0 0 122px;
    width: 122px;
  }
}
body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  background-color: #FFFFFF;
  min-width: 290px;
}
.overflowHidden {
  height: 100%;
  overflow: hidden;
}
.main__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 3px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main__action {
  padding-bottom: 10px;
}
.main__control {
  margin-left: auto;
  padding-bottom: 14px;
}
.main__allFiles[data-action="true"] .main__filePreview {
  opacity: 0.25;
}
.main__allFiles[data-action="true"] .main__buttonCheck {
  display: block;
}
.main__buttonCheck {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 15;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main__buttonCheck::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 4px;
  right: 4px;
  background-color: #E1E4E8;
}
.main__buttonCheck[data-check="true"]::before {
  background-color: #C41230;
  background-image: url("../img/file_check.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
}
.main__listFiles {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #e5e7eb;
  min-width: 290px;
}
.main__file {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid #e5e7eb;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.main__filePreview {
  width: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  height: 45px;
  margin-right: 12px;
}
.main__filePreview img {
  width: 64px;
  max-height: 45px;
}
.main__filePreviewVideo {
  margin: 0;
  font-size: 0;
  position: relative;
}
.main__videoTime {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #42515A;
  font-family: "Roboto";
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  line-height: 13px;
  letter-spacing: normal;
  text-align: right;
  color: #FFFFFF;
  display: block;
  padding: 0 2px;
}
.main__fileDate {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}
.main__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow: hidden;
}
.main__fileName {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__fileName--name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 408px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 2);
    /*размер M - 2 плитки*/
    display: block;
    padding: 16px 12px 12px;
  }
  .main__allFiles[data-mode="sizeM"] .main__filePreview {
    width: 160px;
    margin: 0 auto;
    height: 120px;
    margin-bottom: 16px;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__allFiles[data-mode="sizeM"] .main__filePreview img {
    width: 160px;
    max-height: 120px;
  }
  .main__allFiles[data-mode="sizeM"] .main__videoTime {
    font-size: 12px;
    line-height: 14px;
    padding: 1px 4px;
  }
  .main__allFiles[data-mode="sizeM"] .main__fileDate {
    font-size: 12px;
  }
  .main__allFiles[data-mode="sizeM"] .main__fileName {
    font-size: 12px;
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    display: block;
    padding: 16px;
  }
  .main__allFiles[data-mode="sizeL"] .main__filePreview {
    width: 240px;
    margin: 0 auto;
    height: 180px;
    margin-bottom: 16px;
    padding-right: 0;
  }
  .main__allFiles[data-mode="sizeL"] .main__filePreview img {
    width: 240px;
    max-height: 180px;
  }
  .main__allFiles[data-mode="sizeL"] .main__videoTime {
    font-size: 12px;
    line-height: 14px;
    padding: 1px 4px;
  }
  .main__allFiles[data-mode="sizeL"] .main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__allFiles[data-mode="sizeL"] .main__fileDate {
    position: relative;
    font-size: 12px;
    padding-right: 5px;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    z-index: -1;
  }
  .main__allFiles[data-mode="sizeL"] .main__fileDate::after {
    position: absolute;
    content: "-";
    top: 0;
    right: 1px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.33;
    color: #42515A;
  }
  .main__allFiles[data-mode="sizeL"] .main__fileName {
    font-size: 12px;
    overflow: hidden;
  }
  .main__allFiles[data-mode="sizeL"] .main__btnLayout {
    display: block;
  }
  .main__buttonCheck::before {
    top: 16px;
    right: 16px;
  }
}
@media (min-width: 612px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 3);
    /*размер M - 3 плитки*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 2);
    /*размер L - 2 плитки*/
  }
  .main__allFiles[data-mode="sizeL"] .main__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 816px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 4);
    /*размер M - 4 плитки*/
  }
}
@media (min-width: 920px) {
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 3);
    /*размер L - 3 плитки*/
  }
}
@media (min-width: 1020px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 5);
    /*размер M - 5 плиток*/
  }
}
@media (min-width: 1224px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 6);
    /*размер M - 6 плиток*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 4);
    /*размер L - 4 плитки*/
  }
}
@media (min-width: 1428px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 7);
    /*размер M - 7 плиток*/
  }
}
@media (min-width: 1632px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 8);
    /*размер M - 8 плиток*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 5);
    /*размер L - 5 плиток*/
  }
}
@media (min-width: 1836px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 9);
    /*размер M - 9 плиток*/
  }
}
@media (min-width: 2040px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 10);
    /*размер M - 10 плиток*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 6);
    /*размер L - 6 плитки*/
  }
}
@media (min-width: 2244px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 11);
    /*размер M - 11 плиток*/
  }
}
@media (min-width: 2380px) {
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: calc(100% / 7);
    /*размер L - 7 плиток*/
  }
}
@media (min-width: 2448px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: calc(100% / 12);
    /*размер M - 12 плиток*/
  }
}
@media (min-width: 2652px) {
  .main__allFiles[data-mode="sizeM"] .main__file {
    width: 178px;
    /*размер M - 13 и больше плиток*/
  }
  .main__allFiles[data-mode="sizeL"] .main__file {
    width: 340px;
    /*размер L - 8 и больше плиток*/
  }
}
