@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensansbold.woff2') format('woff2'),
    url('../fonts/opensansbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensansitalic.woff2') format('woff2'),
    url('../fonts/opensansitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/opensanscondensedbold.woff2') format('woff2'),
    url('../fonts/opensanscondensedbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4e515a;
}

.container {
  width: 290px;
  margin: 0 auto;
}

.score {
  /* margin-top: 100px; */
  border-radius: 10px;
  background: linear-gradient(45deg, #51ddd4 0%,#66ccff 100%);
  min-height: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.main__wrap {
  display: flex;
  justify-content: space-between;
}

.main__id {
  font-weight: 700;
}

.main__leader {
  font-style: italic;
}

.main__team {
  font-weight: 700;
}

.main__button {
  margin-right: 10px;
}

.main__button:last-child {
  margin-right: 0;

}

.button {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  text-transform: uppercase;
  padding: 10px 10px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;

}

.button:hover {
  color: #51ddd4;
  background-color: white;

}



.category {
  justify-content: flex-start;
}

.category__button {
  margin-right: 10px;
}

.category__button--junior {
  background-color: #ffbe00;
  border-color: #ffbe00;

}

.category__button--streetdance {
  background-color: #8471e9;
  border-color: #8471e9;

}

.form__param {
  /* padding-bottom: 20px; */
  padding-top: 20px;
}

.form__param .slick-next {
  right: -3px;
}

.form__param .slick-prev {
  left: -3px;
}

.form__comment {
}

.form__input {
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  padding: 15px 10px;
  width: 100%;
  box-sizing: border-box;
}

.param__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

}

.param__item {
  text-align: center;
  padding-bottom: 10px;

}

.param__item--active {
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.param__wrap {
  margin: 0 auto;
  width: 70px;
}

.param__name {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding-bottom: 6px;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.param__score {
  position: relative;
}

.param__input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  padding: 15px 10px;
  padding-right: 5px;
  /* padding-right: 18px; */
}

.form__points {
  padding-top: 10px;
  margin-bottom: 10px;
}

.form__points--active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.points {
  text-align: center;
}

.points__item {
  border: none;
  padding: 0;
  padding-bottom: 10px;
}


.points__button {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  /* margin-top: 5px; */
  font-size: 16px;

}

.points__button--active {
  color: #51ddd4;
  background-color: white;

}



/* Для Chrome */
/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
} */
/* Для Firefox */
/* input[type=number]{
  -moz-appearance: textfield;
} */

.param__number {
  display: none;
  /* position: absolute;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  background-image: url('../img/arrow_grey.svg');
  background-size: 12px 6px;
  background-position: top 4px center;
  background-repeat: no-repeat; */
}

/* .param__number--plus {
  transform: rotate(180deg);
  top: 0;
  right: 0;
}

.param__number--minus {
  bottom: 0;
  right: 0;
} */




@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .points {
    text-align: left;
  }

  .points__button {
    width: 60px;
    height: 60px;
    margin-right: 6px;

  }

  .form__main {
    width: 500px;
  }

  .main__wrap {
    /* justify-content: flex-start; */
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1060px;
  }

  .form__main {
    width: 300px;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form__add {
    width: 740px;
    flex: 0 0 740px;

  }

  .score {
    display: flex;
    justify-content: space-between;
  }
}
